*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100;
    overflow-x: hidden;
}

.demo{
    height: 100vh;
    width: 100%;
    background-color: #1b1b1b;
}

.container{
    width: 100%;
    background-color: #0E0E0E;
}

.row{
    width: 100%;
    display: flex;
}

.col{
    flex: 1;
    aspect-ratio: 1;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    will-change: transform;
}