*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

.page1, .page2, .page3{
    height: 100%;
    width: 100%;
}
.page1{
    background-color: beige;
}

.page2{
    background-color: antiquewhite;
}

.page2 img{
    width: 10%;
    height: 100%;
    object-fit: cover;
    position: relative;
    /* top: 50%;
    transform: translateY(-50%); */
    left: 50%;
    transform: translateX(-50%);
}

.page3{
    background-color: azure;
}